.avanti{
    color: white;
    width: 280px;
    padding: 15px;
    margin: 35px;
    background: rgb(249,3,3);
    background: linear-gradient(222deg, rgba(249,3,3,1) 35%, rgba(0,0,0,1) 100%);
    border-radius: 20px;
    box-shadow: 15px 15px 10px black;
    border: 2px solid black;
}