.holder2 {
    border: solid 3px black;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;    /* Centra horizontalmente */
    align-items: center; 
    padding-top: 3px;
}
.holder2 h3 {
    color: black;
    border-radius: 3px;
    font-family: "Michroma", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 20px;
}

.holder2 p{
    color: black;
    border-radius: 3px;
    font-family: "Michroma", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 20px;
}

.holder2 ul{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    border-radius: 5px;
    font-family: "Michroma", serif;
    font-weight: 400;
    font-style: normal;
}

.holder2 ul li {
    margin-bottom: 5px;
}